/*-----Adam Demol 2022-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
  background-color: #111;
  color: #eee;
}

button {
  cursor: pointer;
}